<!--
   Gaspard TORTERAT stu-74536
 -->
@model BankAppV2.Models.Transaction

@{
    ViewData["Title"] = "Error_balance";
}

<h4>Transaction Error</h4>
<h4>Amount sent is too high for the sender balance. Please review the transaction.</h4>

<div>
    <a asp-action="Index">Back to List</a>
</div>

